.menu {
    max-width: 980px;
    background-color: #95161f;
    margin: auto;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

ul.menu-items {
    list-style-type: none;
    text-align: right;
    margin-bottom: 0;
}

li.menu-item {
    display: inline-block;
    padding: 7px 23px;
}

.menu-item > a {
    color: white;
    text-decoration: none;
}
.menu-item > a:hover {
    color: #a5adb8;
}

@media only screen and (max-width : 1024px) {

    ul.menu-items {
        text-align: center;
    }
  
  }